/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Orbitron');

/*NAVBAR*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #555;
}

.navbar-brand {
    float: none;
    display: inline-block;
    margin-top: -5px;
    font-family: Orbitron;
}

.navbar-text {
    float: none;
    width: 210px;
    margin-top: -20px;
    font-family: Orbitron;

}

.menu--main.nav {
    border-left: 1px solid #555;
  }
