baseurl: '/'
permalink: pretty
title: 'DevSysOp'

logo:
  mobile: "images/logo/logo-2.svg"
  mobile_height: "32px"
  mobile_width: "32px"
  desktop: "images/logo/logo-2.svg"
  desktop_height: "auto"
  desktop_width: "250px"
  footer_mobile: "images/logo/logo-2.svg"
  footer_mobile_height: "32px"
  footer_mobile_width: "32px"
  footer_desktop: "images/logo/logo.svg"
  footer_desktop_height: "auto"
  footer_desktop_width: "250px"

home: 
  limit_services: 6

collections:
  services:
    output: true
    sort_by: weight
  team:
    output: true

defaults:
  - scope:
      path: ""
      type: "services"
    values:
      layout: "service"

sass:
  style: compressed # possible values: nested expanded compact compressed

plugins:
  - jekyll-environment-variables

exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - LICENSE.md
  - LICENSE
  - README.md
